.f-i-t-n-e-s-s-container {
  min-height: 100vh;
}
.f-i-t-n-e-s-s-f-i-t-n-e-s-s {
  width: 1465px;
  height: 3435px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1449px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(233, 202, 202, 1);
}
.f-i-t-n-e-s-s-herosection {
  top: 2px;
  right: 0px;
  width: 1440px;
  height: 492px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0 0 190px 190px;
  margin-bottom: 0;
  background-color: rgba(227, 226, 234, 1);
}
.f-i-t-n-e-s-s-text {
  top: 23px;
  color: rgba(0, 0, 0, 1);
  width: 406px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-i-m-a-g-e21 {
  top: 47.60517883300781px;
  left: 916.5302124023438px;
  width: 540px;
  height: 369px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 176.45277404785156px;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-frame {
  top: 24px;
  left: 738px;
  width: 702px;
  display: flex;
  padding: 0 12px;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text02 {
  color: rgba(123, 156, 132, 1);
  width: 80px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text04 {
  color: rgba(123, 156, 132, 1);
  width: 112px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text06 {
  color: rgba(123, 156, 132, 1);
  width: 102px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text08 {
  color: rgba(123, 156, 132, 1);
  width: 153px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text10 {
  color: rgba(123, 156, 132, 1);
  width: 117px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0px;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text12 {
  color: rgba(123, 156, 132, 1);
  width: 114px;
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: italic;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text14 {
  top: 153px;
  left: 62px;
  color: rgba(104, 79, 205, 1);
  width: 544px;
  height: auto;
  position: absolute;
  font-size: 64px;
  align-self: auto;
  font-style: Extra Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text19 {
  top: 330px;
  left: 140px;
  color: rgba(0, 0, 0, 1);
  width: 233px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-rectangle1 {
  top: 397px;
  left: 582px;
  width: 237px;
  height: 62px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 50px;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text24 {
  top: 411px;
  left: 612px;
  color: rgba(255, 255, 255, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-g-i-r-l {
  top: 242px;
  left: 669px;
  width: 161px;
  height: 155px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 120px;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-r-u-n {
  top: 745.7869873046875px;
  left: 31px;
  width: 182px;
  height: 174px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 120px 109.38058471679688px 120px 120px;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text26 {
  top: 531px;
  left: 167px;
  color: rgba(104, 79, 205, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-a-b-s {
  top: 604px;
  left: 1175px;
  width: 214px;
  height: 205px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 120px;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-rectangle2 {
  top: 811px;
  left: 979px;
  width: 470px;
  height: 476px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-h-d1 {
  top: 811px;
  left: 245px;
  width: 732px;
  height: 476px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse1 {
  top: 917px;
  left: 1014px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text28 {
  top: 918px;
  left: 1044px;
  color: rgba(0, 0, 0, 1);
  width: 261px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-ellipse2 {
  top: 962px;
  left: 1014px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse3 {
  top: 1004px;
  left: 1014px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse4 {
  top: 1091px;
  left: 1014px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse5 {
  top: 1049px;
  left: 1014px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text30 {
  top: 961px;
  left: 1046px;
  color: rgba(0, 0, 0, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text32 {
  top: 1003px;
  left: 1048px;
  color: rgba(0, 0, 0, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text34 {
  top: 1047px;
  left: 1048px;
  color: rgba(0, 0, 0, 1);
  width: 234px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text36 {
  top: 1087px;
  left: 1051px;
  color: rgba(0, 0, 0, 1);
  width: 231px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-e1 {
  top: 1399px;
  left: 0px;
  width: 723px;
  height: 487px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-rectangle3 {
  top: 1399px;
  left: 723px;
  width: 481px;
  height: 487px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse6 {
  top: 917px;
  left: 1014px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text38 {
  top: 1752px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Extra Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-ellipse7 {
  top: 1522px;
  left: 736.5px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse8 {
  top: 1569px;
  left: 736px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse9 {
  top: 1710px;
  left: 737px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse10 {
  top: 1616px;
  left: 736px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse11 {
  top: 1663px;
  left: 736px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text40 {
  top: 1518px;
  left: 770px;
  color: rgba(0, 0, 0, 1);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text42 {
  top: 1567px;
  left: 768px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text44 {
  top: 1617px;
  left: 771px;
  color: rgba(0, 0, 0, 1);
  width: 298px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text46 {
  top: 1661px;
  left: 770px;
  color: rgba(0, 0, 0, 1);
  width: 292px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text48 {
  top: 1707px;
  left: 771px;
  color: rgba(0, 0, 0, 1);
  width: 273px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-g1 {
  top: 1951px;
  left: 245px;
  width: 734px;
  height: 431px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-rectangle4 {
  top: 1951px;
  left: 979px;
  width: 470px;
  height: 431px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse12 {
  top: 2025px;
  left: 1002px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse13 {
  top: 2074px;
  left: 1002px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse14 {
  top: 2123px;
  left: 1002px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse15 {
  top: 2172px;
  left: 1002px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse16 {
  top: 2221px;
  left: 1002px;
  width: 19px;
  height: 21px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text50 {
  top: 2278px;
  left: 245px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 48px;
  align-self: auto;
  font-style: Light;
  text-align: left;
  font-family: Inter;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text52 {
  top: 2023px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text54 {
  top: 2071px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 373px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text56 {
  top: 2120px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 345px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text58 {
  top: 2170px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  width: 318px;
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text60 {
  top: 2217px;
  left: 1038px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 21px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-frame1 {
  top: 2834px;
  left: 0px;
  width: 1449px;
  height: 333px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 1);
}
.f-i-t-n-e-s-s-text62 {
  top: 66px;
  left: 967px;
  color: rgba(255, 255, 255, 1);
  width: 333px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;
  font-style: Bold;
  text-align: right;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-ellipse17 {
  top: 123px;
  left: 1110px;
  width: 12px;
  height: 17px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text64 {
  top: 120px;
  left: 1134px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-c {
  top: 217px;
  left: 28px;
  width: 296px;
  height: 102px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-w1 {
  top: 117px;
  left: 44px;
  width: 70px;
  height: 82px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-text66 {
  top: 137px;
  left: 120px;
  color: rgba(255, 255, 255, 1);
  width: 184px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-text71 {
  top: 292px;
  left: 885px;
  color: rgba(255, 255, 255, 1);
  width: 540px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Medium;
  text-align: right;
  font-family: Inter;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.f-i-t-n-e-s-s-rectangle5 {
  top: 2481px;
  left: 114px;
  width: 3px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-rectangle6 {
  top: 2382px;
  left: 0px;
  width: 1449px;
  height: 452px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-pimkblob {
  top: 2379px;
  left: 1150px;
  width: 317px;
  height: 287px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-orangeblob {
  top: 2511px;
  left: 529px;
  width: 421px;
  height: 325px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-greenblob {
  top: 2382px;
  left: -86px;
  width: 331px;
  height: 284px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse18 {
  top: 2516.909423828125px;
  left: 96.30450439453125px;
  width: 304px;
  height: 267px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse19 {
  top: 2603.872802734375px;
  left: 636.1773071289062px;
  width: 270px;
  height: 248px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse20 {
  top: 2387px;
  left: 1126.632080078125px;
  width: 271px;
  height: 242px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse21 {
  top: 2489.1904296875px;
  left: 771.4069213867188px;
  width: 55px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse22 {
  top: 2426px;
  left: 782px;
  width: 30px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse23 {
  top: 2695px;
  left: 1194.583984375px;
  width: 55px;
  height: 54px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse24 {
  top: 2780.17919921875px;
  left: 1207.8436279296875px;
  width: 26px;
  height: 23px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse25 {
  top: 2685px;
  left: 455px;
  width: 54px;
  height: 53px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse26 {
  top: 2745px;
  left: 540px;
  width: 37px;
  height: 35px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse27 {
  top: 2456px;
  left: 415px;
  width: 50px;
  height: 44px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.f-i-t-n-e-s-s-ellipse28 {
  top: 2406px;
  left: 517px;
  width: 42px;
  height: 34px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
